<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/imagenes/logo-mercado-liebre.svg" alt="">
        <div id="Busqueda">

        </div>
        <p>Comprá en Cuotas y sin tarjeta de Creditow</p>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales </a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis Compras</a></li>
            </ul>
        </nav>

    </header>
    <main>
        <section>
            <h3>Basado en tu ultima visita</h3>
            <img src="/imagenes/img-cafetera-moulinex.jpg" alt="Cafetera">
            <p>cl m</p>
            <p></p>
            <h4></h4>
        </section>
        <section>

        </section>
    </main>
    <footer>

    </footer>
</body>
</html>